.home-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.home-header-spinner-wrapper {
    height: 40vh;
    left: 30%;
    transform: translate(-50%);
    position: absolute;
    animation-name: spinnerWrapperFadeInLeft;
    animation-duration:4s;
}

@keyframes spinnerWrapperFadeInLeft {
    from {
        opacity: 0;
        left: 50%;
    }

    50% {
        opacity: 1;
        left: 50%
    }

    to {
        left: 30%;
    }
}

.home-header-spinner {
    animation-name: spinnerPulse;
    animation-duration: 0.46s;
    animation-iteration-count: infinite;
    height: 100%;
}

@keyframes spinnerPulse {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.home-header-text-wrapper {
    z-index: 1;
    overflow: hidden;
    position: relative;
    animation-name: homeTextBump;
    animation-duration: 0.46s;
    animation-iteration-count: infinite;
}

@keyframes homeTextBump {
    from {
        bottom: 0vh;
    }

    50% {
        bottom: 1vh;
    }

    to {
        bottom: 0vh;
    }
}

.home-header-text {
    position: relative;
    font-family: Satoshi-Bold, sans-serif;
    color: #d20240;
    font-size: 5vw;
    animation-duration: 6s;
    animation-name: headingSlideIn;
    background-color: #f5f5f5;
}

@keyframes headingSlideIn {
    from {
        right: 50vw;
    }

    40% {
        right: 50vw;
    }

    to {
        right: 0;
    }
}

@media (max-width: 800px) {
    .home-header-spinner-wrapper {
        height: 30vh;
    }
    
    .home-header-text {
        font-size: 4vh;
    }
}

@media (max-width: 450px) {
    .home-header-spinner-wrapper {
        height: 25vh;
    }

    @keyframes headingSlideIn {
        from {
            right: 100%;
        }
    
        40% {
            right: 100%;
        }
    
        to {
            right: 0;
        }
    }
}